@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-feature-settings: "palt";
  }

  body {
    @apply bg-bg text-navy-900 antialiased;
  }

  /* 数字を強調表示するための共通クラス */
  .num-emphasis {
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
  }
}

@layer components {
  .container-page {
    @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}
